body {
  background-color: #aa99d4;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 40px;
  color: black;
}

h2 {
  margin: 0 0 5px;
  font-size: 26px;
}

select {
  display: block;
  width: 100%;
  font-size: 20px;
  border-radius: 8px;
  padding: 12px;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: white;
  padding: 25px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px;
}

.city {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 25px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.9;
}

.time {
  font-size: 46px;
  font-weight: bold;
}

.time small {
  font-size: 23px;
  vertical-align: middle;
  line-height: 46px;
}

.allCities {
  text-align: left;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
}

footer {
  text-align: center;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
}
